{% extends 'layout.html' %}
{% block content %}
    {% if current_user.is_admin %}
        <a class="nav-item nav-link" href="#">Create a New Game</a>
    {% endif %}
    {% for game in game_list %}
        <div class="content-section">
            <h3>{{ game.title }}</h3>
            <div>{{ game.description }}</div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Character ID</th>
                    <th scope="col">Character Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Open</th>
                </tr>
            </thead>
        <tbody>
            {% for character in character_list %}
                <tr>
                    <td>{{ character.id }}</td>
                    <td>{{ character.character_name }}</td>
                    <td>{{ character.level }}</td>
                    {% if current_user.id == character.user_id %}
                        <td><a href="#">Open</a></td>
                    {% else %}
                        <td>Not your character.</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endfor %}
{% endblock content %}